html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding-bottom: 20px;
}

* {
  box-sizing: border-box;
}

/******************** Header *********************/
#logo {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
}

/******************** Menù *********************/
.menu ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  padding-right: 2%;
}
  
.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
.menu li a:hover {
  background-color: rgb(15, 148, 182);
}

/******************** Content *********************/
.content {
  flex-shrink: 0;
  padding: 2%;
  text-align: center;
}

.content form fieldset {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 1%;
}

.content form fieldset legend {
  font-size: x-large;
}

.content form fieldset i {
  padding: 1%;
}

input[type=text], input[type=password], input[type=email] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: rgb(15, 148, 182);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
}

input[type=submit]:hover {
  opacity: 0.8;
}

/******************** Profile Page *********************/
.profileContainer{
  width: 99%;
  padding: 0;
  margin:0;
}
.profileContainer img{
  width: 150px;
}

.profileContainer .form-control:focus {
  box-shadow: none;
  border-color: rgb(15, 148, 182);
}

.profileContainer .profile-button {
  background-color: rgb(15, 148, 182);
  color: white;
  padding: 14px;
  border: none;
  cursor: pointer;
}

.profileContainer .profile-button:hover {
  opacity: 0.8;
}

.profileContainer .profile-button:focus {
  opacity: 0.8;
}

.profileContainer .profile-button:active {
  opacity: 0.8;
}

/******************** Footer *********************/
.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}

.footer {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}

/******************** Media query *********************/

/* Medium screens */
@media all and (max-width: 800px) {
  .menu ul {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 600px) {
  .menu ul{
    flex-flow: column wrap;
    padding: 0;
  }
  .menu a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .menu li:last-of-type a {
    border-bottom: none;
  }

  .content form,fieldset {
    width: 100vw;
  }
  
  .menu .addpadding {
    padding-left: 0;
  }
}