.home-section {
    background: url('../Immagini/home-img.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-section .h-100 {
    padding: 150px 0;
}

.home-text{
    margin-bottom: 10%;
}

.home-text h1 {
    color: #ffffff;
    font-size: 40px;
    text-transform: capitalize;
}

.home-text h3 {
    color: #ffffff;
    font-size: 20px;
}

/*** Chi siamo ***/
.chi-siamo-section {
    background: url('../Immagini/chi-siamo.PNG') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.chi-siamo-section .h-100 {
    padding: 120px 0;
}

.chi-siamo-text { 
    color: #24292d;
    font-size: 20px;
    font-weight: 400;
}

/*** Prodotti ***/
.prodotti-section {
    background: url('../Immagini/prodotti-img.PNG') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.prodotti-section .h-100 {
    padding: 120px 0;
}

.prodotti-text { 
    color: #24292d;
    font-size: 20px;
    text-align: center;
    font-weight: 400;

}

/*** Shop ***/
.shop-section {
    background: url('../Immagini/shop-img.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.shop-section .h-100 {
    padding: 120px 0;
}

.shop-text {
    color: #ffffff;
    font-size: 35px;
    margin: auto;
    font-weight: 500;

}

.button {
    padding: 10px 10px 10px 10px;
    border: 0px solid #dedede;
    color: white;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.button:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.924);
    z-index: -1;
    -webkit-transition: width 350ms ease-in-out;
    transition: width 350ms ease-in-out;
}

.button:hover {
    color: black;
}

.button:hover:after {
    width: 110%;
}  

/*** Contatti ***/
.contatti-text { 
    width: 33%;
    padding: 0 20px;
    color: #24292d;
    font-size: 20px;
    text-align: center;
    display: inline-block;
}

.contatti-text a {
    text-decoration: none;
    color: #24292d;
}

.contatti-text a:hover {
    color: rgb(7, 223, 187);
}

/******* Responsive *******/
@media(max-width:991px) {
    .contatti-text {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
    }
}

@media(max-width:575px) {
    .chi-siamo-section {
        background: url('../Immagini/chi-siamo-mobile.PNG') no-repeat center center fixed;
    }

    .prodotti-section {
        background: url('../Immagini/prodotti-img-mobile.PNG') no-repeat center center fixed;
    }
}
